.menu {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    padding: 10px 40px;
    border: 2px solid black;
}

.navLink {
    padding: 10px 15px;
    text-decoration: none;
    color: #000;
    font-size: 18px;
    font-weight: bold;
}

.navLink:global(.active) {
    color: red;
}